<ons-page ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card ng-init="ajax('aluno',{idEscola: user.idSchool, idTurma: myNavigator.topPage.data.id_turma}, 'turmaList')">
      <p>
          <b class="font-16">Alunos</b><br><br>
          {{ myNavigator.topPage.data.turma}}
      </p>

      <ons-row class="list-head">
          <ons-col width="90px" style="text-align: center;"><b>Matricula</b></ons-col>
          <ons-col style="text-align: center;"><b>Nome</b></ons-col>
      </ons-row>

      <ons-row ng-repeat="(key, reg) in turmas"
               ng-class="(key % 2 == 0)?'list-x':'list-y'"
               ng-click="load('secretaria/aluno-reg.html', {id: reg.id_usuario, id_turma: reg.id_turma,turma: reg.turma})">
          <ons-col width="90px" style="text-align: center;">{{reg.matricula}}</ons-col>
          <ons-col style="text-align: center;">{{reg.nome}}</ons-col>
      </ons-row>

      <ons-row ng-show="turmas.length==0">
          <ons-col class="list-x" style="text-align: center;">Nenhum aluno encontrado.</ons-col>
      </ons-row>

  </ons-card>

  <ons-fab position="bottom right" ng-click="load('secretaria/aluno-reg.html', {id_turma: myNavigator.topPage.data.id_turma, turma: myNavigator.topPage.data.turma})">
      <ons-icon icon="fa-plus"></ons-icon>
  </ons-fab>

</ons-page>
