<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
          ng-init="alunoGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Aluno</b>
          {{ myNavigator.topPage.data.turma}}
      </p>
      <p>
        <ons-input id="id" ng-model="data.id_usuario" type="hidden"></ons-input>
        <ons-input id="name" class="form-element" modifier="underbar" placeholder="Nome" ng-model="data.nome"float></ons-input>
      </p>
      <p>
        <ons-input id="email" class="form-element" modifier="underbar" placeholder="Email(opcional)" type="email" ng-model="data.email"float></ons-input>
      </p>
      <p ng-if="data.id_usuario">
        <ons-button ng-click="alunoGetSenha(data.id_usuario)">Gerar Senha</ons-button>
      </p>
      <p>
        <ons-button ng-click="alunoAdd()">Salvar</ons-button>
      </p>
      <p>
        <ons-button ng-click="alunoDelete()" ng-if="data.id_usuario" class="vermelho">Excluir</ons-button>
      </p>
  </ons-card>

</ons-page>
