<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
            ng-init="disciplinaGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Disciplina</b>
      </p>
      <p>
        <ons-input id="id" ng-model="data.id_disciplina" type="hidden"></ons-input>
        <ons-input id="nome" class="form-element" modifier="underbar" placeholder="Nome" ng-model="data.nome" float></ons-input>
      </p>
      <p>
        <ons-input id="sigla" class="form-element" modifier="underbar" placeholder="Sigla" ng-model="data.sigla" float></ons-input>
      </p>
      <p>
        <label for="cor">Cor:</label>
        <input id="cor" type="color" ng-model="data.cor" float></input>
      </p>
      <p>
        <ons-button ng-click="disciplinaAdd()">Salvar</ons-button>
      </p>
      <p>
        <ons-button ng-click="disciplinaDelete()" ng-if="data.id_disciplina" class="vermelho">Excluir</ons-button>
      </p>
  </ons-card>

</ons-page>
