<ons-page ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card ng-init="ajax('disciplina',{idEscola: user.idSchool}, 'disciplinaList')">
      <p>
          <b class="font-16">Disciplinas</b>
      </p>
      <p style="text-align: center; margin-top: 10px;">
            <ons-search-input placeholder="Procurar..." style="width: 90%;max-width: 600px;" ng-model="pesquisa"
                              ng-keyup="ajax('disciplina',{idEscola: user.idSchool, search: pesquisa}, 'disciplinaList')">
            </ons-search-input>
      </p>

      <ons-row class="list-head">
          <ons-col width="80px" style="text-align: center;"><b>Sigla</b></ons-col>
          <ons-col style="text-align: left;"><b>Nome</b></ons-col>
          <ons-col width="50px" style="text-align: center;"><b>Cor</b></ons-col>
      </ons-row>

      <ons-row ng-repeat="(key, reg) in disciplinas"
               ng-class="(key % 2 == 0)?'list-x':'list-y'"
               ng-click="load('secretaria/disciplina-reg.html', {id_disciplina: reg.id_disciplina})">
          <ons-col width="70px" style="text-align: center;">{{reg.sigla}}</ons-col>
          <ons-col style="text-align: left;">{{reg.nome}}</ons-col>
          <ons-col width="30px" style="text-align: center;">
              <div id="cor-{{reg.id_disciplina}}" style="width: 20px;height:20px;"></div>
              {{disciplinaCor('cor-'+reg.id_disciplina,reg.cor);}}
          </ons-col>
      </ons-row>

      <ons-row ng-show="turmas.length==0">
          <ons-col class="list-x" style="text-align: center;">Nenhuma Disciplina encontrada.</ons-col>
      </ons-row>

  </ons-card>

  <ons-fab position="bottom right" ng-click="load('secretaria/disciplina-reg.html')">
      <ons-icon icon="fa-plus"></ons-icon>
  </ons-fab>

</ons-page>
