<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
            ng-init="horarioGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Horario</b><br>
          {{ myNavigator.topPage.data.turma}}
      </p>
      <ons-row>
      <ons-col style="width: 100%; min-width: 300px;
                      background-color: #f5fbba;">
           <ons-row>
               <ons-col class="horario-cell">Dom</ons-col>
               <ons-col class="horario-cell">Seg</ons-col>
               <ons-col class="horario-cell">Ter</ons-col>
               <ons-col class="horario-cell">Qua</ons-col>
               <ons-col class="horario-cell">Qui</ons-col>
               <ons-col class="horario-cell">Sex</ons-col>
               <ons-col class="horario-cell">Sab</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">Intervalo</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
           <ons-row>
               <ons-col class="horario-cell">&nbsp;</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">--</ons-col>
               <ons-col class="horario-cell">&nbsp;</ons-col>
           </ons-row>
      </ons-col>
      <ons-row>
      <p style="width: 100%; text-align: center;">
         <ons-select select-id="type" class="form-element" ng-model="data.dia_semana">
            <option value="">Selecione um Dia</option>
            <option value="1">Don</option>
            <option value="2">Seg</option>
            <option value="3">Ter</option>
            <option value="4">Qua</option>
            <option value="5">Qui</option>
            <option value="6">Sex</option>
            <option value="6">Sab</option>
         </ons-select>
      </p>
      <p style="width: 100%; text-align: center;">
         <ons-select select-id="type" class="form-element" ng-model="data.periodo">
            <option value="">Selecione um Periodo</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
         </ons-select>
      </p>
      <p style="width: 100%; text-align: center;">
         <ons-select select-id="type" class="form-element" ng-model="data.id_disciplina">
            <option value="">Selecione uma Disciplina</option>
            <option value="1">Por</option>
            <option value="2">Mat</option>
            <option value="3">Geo</option>
            <option value="4">Art</option>
            <option value="5">Fis</option>
            <option value="6">Fil</option>
            <option value="6">Soc</option>
            <option value="6">Rel</option>
         </ons-select>
      </p>
      <p style="width: 100%; text-align: center;">
         <ons-select select-id="type" class="form-element" ng-model="data.id_professor">
            <option value="">Selecione um Professor</option>
            <option value="1">Ana Carla</option>
            <option value="2">Flavia Freitas</option>
            <option value="3">Rosane Grisa</option>
         </ons-select>
      </p>
      <p style="text-align: center;width:100%;">
          <ons-button ng-click="">
              <ons-icon icon="fa-edit"></ons-icon>&nbsp;Editar
          </ons-button>
      </p>
  </ons-card>

</ons-page>
