<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
            ng-init="horarioGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Nota</b><br><br>
          Aluno: {{ myNavigator.topPage.data.aluno}}
      </p>
      <ons-input id="id" ng-model="data.id_nota" type="hidden"></ons-input>
      <ons-input id="idAlunoTurma" ng-model="data.id_aluno_turma" type="hidden"></ons-input>
      <p>
         <ons-select select-id="type" class="form-element" ng-model="data.periodo">
            <option value="">Selecione um Periodo</option>
            <option value="1">1º Trimestre</option>
            <option value="2">2º Trimestre</option>
            <option value="3">3º Trimestre</option>
            <option value="4">1º Trimestre Recuperação</option>
            <option value="5">2º Trimestre Recuperação</option>
            <option value="6">3º Trimestre Recuperação</option>
         </ons-select>
      </p>
      <p ng-if="!data.id_nota">
         <ons-select select-id="type" class="form-element" ng-model="data.id_disciplina">
            <option value="">Selecione uma Disciplina</option>
            <option ng-repeat="reg in disciplina" value="{{reg.id_disciplina}}">{{reg.nome}}</option>
         </ons-select>
      </p>
      <p ng-if="data.id_nota">
         <ons-input id="idDisciplina" ng-model="data.id_disciplina" type="hidden"></ons-input>
         <ons-input id="disciplinaE" readonly class="form-element" modifier="underbar" placeholder="Disciplina" ng-model="data.disciplina" float></ons-input>
      </p>
      <p>
          <ons-row>
              <ons-col>
                  <ons-radio name="valor" input-id="valor-1" ng-model="data.valor" value="CIA">CIA</ons-radio>
              </ons-col>
              <ons-col>
                  <ons-radio name="valor" input-id="valor-2" ng-model="data.valor" value="CPA">CPA</ons-radio>
              </ons-col>
              <ons-col>
                  <ons-radio name="valor" input-id="valor-3" ng-model="data.valor" value="CSA">CSA</ons-radio>
              </ons-col>
          </ons-row>
      </p>
      <p>
        Conceito<br>
        <textarea name="name" style="width: 90%;height: 100px;" ng-model="data.conceito"></textarea>
      </p>
      <!--
      <p>
         <ons-select select-id="type" class="form-element" ng-model="data.id_area">
            <option value="">Selecione uma Area</option>
            <option ng-repeat="reg in area" value="{{reg.id_area}}">{{reg.nome}}</option>
         </ons-select>
      </p>
      -->
      <p>
        <ons-button ng-click="notaAdd()">Salvar</ons-button>
      </p>
      <p>
        <ons-button ng-click="notaDelete()" ng-if="data.id_nota" class="vermelho">Excluir</ons-button>
      </p>
  </ons-card>

</ons-page>
