<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
            ng-init="notaGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Notas</b><br><br>
          Aluno: {{ myNavigator.topPage.data.aluno}}
      </p>

      <ons-row class="list-head">
          <ons-col width="90px" style="text-align: center;"><b>Pereiodo</b></ons-col>
          <ons-col style="text-align: center;"><b>Disciplina</b></ons-col>
          <ons-col style="text-align: center;"><b>Nota</b></ons-col>
      </ons-row>
      <section ng-repeat="(key, reg) in notas">
          <ons-row ng-class="(key % 2 == 0)?'list-x':'list-y'"
                   style="padding: 5px;"
                   ng-click="notaEditar(myNavigator.topPage.data, reg.id_nota)">
              <ons-col width="90px" style="text-align: center;">{{periodos[reg.periodo]}}</ons-col>
              <ons-col style="text-align: center;">{{reg.disciplina}}</ons-col>
              <ons-col style="text-align: center;">{{reg.valor}}</ons-col>
          </ons-row>
          <ons-row ng-class="(key % 2 == 0)?'list-x':'list-y'"
                   style="padding: 5px;"
                   ng-if="reg.conceito!=''"
                   ng-click="notaEditar(myNavigator.topPage.data, reg.id_nota)">
              <ons-col style="text-align: left;padding: 0px;font-size: 12px;">{{reg.conceito}}</ons-col>
          </ons-row>
      </section>

  </ons-card>

  <ons-fab position="bottom right" ng-click="load('secretaria/nota-reg.html', myNavigator.topPage.data)">
      <ons-icon icon="fa-plus"></ons-icon>
  </ons-fab>

</ons-page>
