<ons-page ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card ng-init="ajax('turma',{idEscola: user.idSchool}, 'turmaList')">
      <p>
          <b class="font-16">Avaliação - Turma</b>
      </p>
      <p style="text-align: center; margin-top: 10px;">
            <ons-search-input placeholder="Procurar..." style="width: 90%;max-width: 600px;" ng-model="pesquisa"
                              ng-keyup="ajax('turma',{idEscola: user.idSchool, search: pesquisa}, 'turmaList')">
            </ons-search-input>
      </p>

      <ons-row class="list-head">
          <ons-col width="50px" style="text-align: center;"><b>Sigla</b></ons-col>
          <ons-col style="text-align: center;"><b>Nome</b></ons-col>
          <ons-col style="text-align: center;"><b>Ensino</b></ons-col>
      </ons-row>

      <ons-row ng-repeat="(key, reg) in turmas"
               ng-class="(key % 2 == 0)?'list-x':'list-y'"
               ng-click="load('secretaria/aluno-list-avaliacao.html', {id_turma: reg.id_turma, turma: reg.nome})">
          <ons-col width="50px" style="text-align: center;">{{reg.sigla}}</ons-col>
          <ons-col style="text-align: center;">{{reg.nome}}</ons-col>
          <ons-col style="text-align: center;">{{reg.ensino}}</ons-col>
      </ons-row>

      <ons-row ng-show="turmas.length==0">
          <ons-col class="list-x" style="text-align: center;">Nenhuma Turma encontrada.</ons-col>
      </ons-row>

  </ons-card>

</ons-page>
