<ons-page ng-init="dataClear();" ng-controller="secretariaController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
            ng-init="turmaGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Turma</b>
      </p>
      <p>
        <ons-input id="id" ng-model="data.idturma" type="hidden"></ons-input>
        <ons-input id="nome" class="form-element" modifier="underbar" placeholder="Nome" ng-model="data.nome" float></ons-input>
      </p>
      <p>
        <ons-input id="sigla" class="form-element" modifier="underbar" placeholder="Sigla" ng-model="data.sigla" float></ons-input>
      </p>
      <p>
        <ons-input id="nivel" class="form-element" modifier="underbar" placeholder="Nível" ng-model="data.nivel" type="number" float></ons-input>
      </p>
      <p>
        <ons-input id="serie" class="form-element" modifier="underbar" placeholder="Série" ng-model="data.serie" type="number" float></ons-input>
      </p>
      <p>
         <ons-select select-id="type" class="form-element" ng-model="data.id_ensino_escola">
            <option value="0">Selecione Um Ensino</option>
            <option ng-repeat="reg in ensino" value="{{reg.id_ensino_escola}}">{{reg.nome}}</option>
         </ons-select>
     </p>
      <p>
        <ons-button ng-click="turmaAdd()">Salvar</ons-button>
      </p>
      <p>
        <ons-button ng-click="turmaDelete()" ng-if="data.id_turma" class="vermelho">Excluir</ons-button>
      </p>
  </ons-card>

</ons-page>
