<ons-page ng-init="dataClear();data.type=0;" ng-controller="directorController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card style="text-align: center;"
          ng-init="funcionarioGet(myNavigator.topPage.data)">
      <p>
          <b class="font-16">Cadastrar Funcionários</b>
      </p>
      <p>
        <ons-input id="id" ng-model="data.id_usuario" type="hidden"></ons-input>
        <ons-input id="name" class="form-element" modifier="underbar" placeholder="Nome" ng-model="data.nome"float></ons-input>
      </p>
      <p>
        <ons-input id="email" class="form-element" modifier="underbar" placeholder="Email" type="email" ng-model="data.email"float></ons-input>
      </p>
      <p>
        <ons-input id="password" class="form-element" modifier="underbar" type="password" placeholder="Senha" ng-model="data.senha" float></ons-input>
      </p>
      <p>
         <ons-select select-id="type" class="form-element" ng-model="data.id_tipo_usuario">
            <option value="0">Selecione Um Cargo</option>
            <option value="2">Diretor</option>
            <option value="3">Professor</option>
            <option value="4">Secretário</option>
         </ons-select>
     </p>
      <p>
        <ons-button ng-click="funcionarioAdd()">Salvar</ons-button>
      </p>
      <p>
        <ons-button ng-click="funcionarioDelete()" ng-if="data.id_usuario" class="vermelho">Excluir</ons-button>
      </p>
  </ons-card>

</ons-page>
