<ons-page ng-controller="directorController">

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card ng-init="ajax('usuario',{idEscola: user.idSchool, tipo: '2,3,4'}, 'funcionariosList')">
      <p>
          <b class="font-16">Funcionários{{user.id_escola}}</b>
      </p>
      <p style="text-align: center; margin-top: 10px;">
            <ons-search-input placeholder="Procurar..." style="width: 90%;max-width: 600px;" ng-model="search"
                              ng-keyup="ajax('usuario',{idEscola: user.idSchool, tipo: '2,3,4', search: search}, 'funcionariosList')">
            </ons-search-input>
      </p>

      <ons-row class="list-head">
          <ons-col><b>Nome</b></ons-col>
          <ons-col width="100px" style="text-align: center;"><b>Cargo</b></ons-col>
      </ons-row>

      <ons-row ng-repeat="(key, reg) in funcionarios"
               ng-class="(key % 2 == 0)?'list-x':'list-y'"
               ng-click="load('director/funcionario-reg.html', {id_usuario: reg.id_usuario})">
          <ons-col>{{reg.nome}}</ons-col>
          <ons-col width="100px" style="text-align: center;">{{reg.tipo}}<ons-col>
      </ons-row>

  </ons-card>

  <ons-fab position="bottom right" ng-click="load('director/funcionario-reg.html')">
      <ons-icon icon="fa-plus"></ons-icon>
  </ons-fab>

</ons-page>
