<ons-page id="indicators">
    <ons-toolbar>
      <div class="center">
          <img src="img/logo3.png" alt="Escolar App" class="top-logo">
      </div>
      <div class="right">
          <ons-toolbar-button>
              <ons-icon icon="fa-cog"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-card class="font-14">
        <p>
            <b class="font-16">Indicadores</b>
        </p>
        <ons-row class="list-head">
            <ons-col><b>Dados Gerais</b></ons-col>
        </ons-row>
        <ons-row class="list-x">
            <ons-col>Ano Letivo</ons-col>
            <ons-col width="80px" style="text-align: center;">2019<ons-col>
        </ons-row>
        <ons-row class="list-y">
            <ons-col>Alunos Matriculados</ons-col>
            <ons-col width="80px" style="text-align: center;">5348<ons-col>
        </ons-row>
        <ons-row class="list-x">
            <ons-col>Professores</ons-col>
            <ons-col width="80px" style="text-align: center;">45<ons-col>
        </ons-row>
        <ons-row class="list-y">
            <ons-col>Total de Funcionários</ons-col>
            <ons-col width="80px" style="text-align: center;">68<ons-col>
        </ons-row>
        <ons-row class="list-head">
            <ons-col><b>Resultados Avaliativos</b></ons-col>
        </ons-row>
        <ons-row class="list-x">
            <ons-col>Ano Letivo Anterior</ons-col>
            <ons-col width="80px" style="text-align: center;">2018<ons-col>
        </ons-row>
        <ons-row class="list-y">
            <ons-col>Alunos Atendidos</ons-col>
            <ons-col width="80px" style="text-align: center;">5251<ons-col>
        </ons-row>
        <ons-row class="list-x">
            <ons-col>Alunos Aprovados</ons-col>
            <ons-col width="80px" style="text-align: center;">88%<ons-col>
        </ons-row>
        <ons-row class="list-y">
            <ons-col>Alunos em Dependencia</ons-col>
            <ons-col width="80px" style="text-align: center;">12%<ons-col>
        </ons-row>
        <ons-row class="list-x">
            <ons-col>Alunos Reprovados</ons-col>
            <ons-col width="80px" style="text-align: center;">10%<ons-col>
        </ons-row>
    </ons-card>
</ons-page>
