<!DOCTYPE html>
<html lang="pt" ng-app="escolar">
    <head>
        <!--
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <title>Escolar App</title>

        <!-- Onsen & AngularJS & Disco -->
        <link rel="stylesheet" href="lib/onsen/css/onsenui.min.css"/>
        <link rel="stylesheet" href="lib/onsen/css/escolar-onsen-css-components.min.css"/>
        <script src="lib/angular.min.js"></script>
        <script src="lib/onsen/js/onsenui.min.js"></script>
        <script src="lib/onsen/js/angularjs-onsenui.js"></script>
        <script src="lib/disco.js"></script>

        <!-- App resources -->
        <script src="js/app.js"></script>
        <script src="js/director.js"></script>
        <script src="js/secretaria.js"></script>
        <script src="js/data.js"></script>
        <link rel="stylesheet" href="css/app.css"/>

    </head>
    <body ng-controller="escolarController" ng-init="init()">

        <ons-navigator var="myNavigator" ng-if="!login"  page="views/login.html"></ons-navigator>
        <ons-navigator var="myNavigator" ng-if="login" page="views/home.html"></ons-navigator>

        <div id="divLoad"
             style="display: none;
                    position: absolute;
                    height: 100vh;
                    width: 100%;
                    background-color: rgb(200, 200, 200, 0.4);
                    z-index: 999;">
            <ons-card style="width: 200px;min-width: auto;margin-top: 45vh;">
                <ons-row>
                    <ons-col style="padding: 10px;" vertical-align="center">
                        <ons-icon size="30px" spin icon="fa-circle-o-notch"></ons-icon>
                    </ons-col>
                    <ons-col style="padding: 10px;" vertical-align="center">
                        Carregando...
                    </ons-col>
                </ons-row>
            </ons-card>
        </div>

    </body>
</html>
