<ons-page>

  <ons-toolbar>
    <div class="left"><ons-back-button></ons-back-button></div>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-card>
      <p>
          <b class="font-16">Configuração</b>
      </p>
      <ons-list>
          <ons-list-item>Alterar Nome</ons-list-item>
          <ons-list-item>Trocar Senha</ons-list-item>
      </ons-list>
  </ons-card>
  <p style="text-align: center;">
      <ons-button class="vermelho" ng-click="logout()">Sair</ons-button>
  </p>

  <p class="footer">Escolar® from Hypno© Startup Brasil 2019 </p>
</ons-page>
