<ons-page id="indicators">
    <ons-toolbar>
      <div class="left"><ons-back-button></ons-back-button></div>
      <div class="center">
          <img src="img/logo3.png" alt="Escolar App" class="top-logo">
      </div>
      <div class="right">
          <ons-toolbar-button>
              <ons-icon icon="fa-cog"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-card class="font-14">
        <p style="text-align: center;">
            <b class="font-16">Funcionalidade em desenvolvimento!</b>
        </p>
        <p style="text-align: center;">
            <ons-icon icon="fa-code" size="80px"></ons-icon><br><br>
            Em breve um novo recurso, fique atento as novidadedes no site
            <a href="http://escolarapp.com">http://escolarapp.com</a>.
            <br><br>
            <ons-button ng-click="myNavigator.popPage()">Voltar</ons-button>
        </p>
    </ons-card>
</ons-page>
