<ons-page>

  <ons-tabbar position="bottom">
    <ons-tab page="main.html"                      icon="fa-home" active></ons-tab>
    <ons-tab page="views/director/indicators.html" icon="fa-chart-bar" ng-if="user.userType==2"></ons-tab>
    <ons-tab page="views/message.html"             icon="fa-comments" badge="7" ></ons-tab>
  </ons-tabbar>

  <template id="main.html">
      <ons-page id="main">
          <ons-toolbar>
            <div class="center">
                <img src="img/logo3.png" alt="Escolar App" class="top-logo">
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="load('config.html')">
                    <ons-icon icon="fa-cog"></ons-icon>
                </ons-toolbar-button>
            </div>
          </ons-toolbar>

          <p style="text-align:center;">
              Escola Estadual Emilio Zuñeda
          </p>

          <div style="width: 100%;display: block;text-align: center;">

              <ons-card class="home-icon" ng-repeat="reg in metaData.userType[user.userType].menu"
                        ng-click="load(reg.page)">
                  <ons-icon icon="{{reg.icon}}" size="40px"></ons-icon><br>
                  {{reg.title}}
              </ons-card>

          </div>
          <ons-card>
              <b class="font-14">Novidades</b>
              <hr>
              <p class="font-14">Dia 03/08/2019 é o dia do 57° aniversário da Escola e as aulas
                 serão interrompidas as 16:00 para uma confreternização aberta
                 a todos.
              </p>
          </ons-card>

      </ons-page>
  </template>

</ons-page>
