<ons-page>

  <ons-toolbar>
    <div class="center">
        <img src="img/logo3.png" alt="Escolar App" class="top-logo">
    </div>
  </ons-toolbar>

  <ons-row>
    <ons-col>
      <ons-card style="text-align:center;">
          <img src="img/logo.png" alt="Escolar App" width="80%">
          <p>Sistema de Gestão escolar inteligente para escolas de ensino basico.</p>
      </ons-card>
    </ons-col>
    <ons-col width="350px">
      <ons-card style="max-width: 300px;text-align: center;">
        <p>
          <ons-input id="email" modifier="underbar" placeholder="Email" ng-model="data.email"float></ons-input>
        </p>
        <p>
          <ons-input id="senha" modifier="underbar" type="password" placeholder="Senha" ng-model="data.senha" float></ons-input>
        </p>
        <p>
          <ons-button ng-click="ajax('login',data ,'loginReturn')">Entrar</ons-button>
        </p>
        <p>
          <ons-button modifier="quiet" onclick="recoverLogin()">Recuperar senha</ons-button>
        </p>
      </ons-card>
    </ons-col>
  </ons-row>

  <p class="footer">Escolar® from Hypno© Startup Brasil 2019 </p>
</ons-page>
