<ons-page id="message">
    <ons-toolbar>
      <div class="center">
          <img src="img/logo3.png" alt="Escolar App" class="top-logo">
      </div>
      <div class="right">
          <ons-toolbar-button>
              <ons-icon icon="fa-cog"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-card>
        <p>
            <b>Professores (3)
            <ons-icon icon="fa-angle-up"></ons-icon></b>
        </p>
        <ons-row class="chat-label font-14" style="text-align: left;">
            <ons-col width="20px"><ons-icon icon="fa-user"></ons-icon></ons-col>
            <ons-col>José Antunes Ciqueira</ons-col>
            <ons-col class="chat-preview">Ok vou avisar os alunos</ons-col>
        </ons-row>
        <ons-row class="chat-label font-14" style="text-align: left;">
            <ons-col width="20px"><ons-icon icon="fa-user"></ons-icon></ons-col>
            <ons-col>Ana Lucia Oliveira</ons-col>
            <ons-col class="chat-preview">Não poderei dar aulas na Sexta</ons-col>
        </ons-row>
        <ons-row class="chat-label font-14" style="text-align: left;">
            <ons-col width="20px"><ons-icon icon="fa-user"></ons-icon></ons-col>
            <ons-col>Luciana Andrade</ons-col>
            <ons-col class="chat-preview">OK</ons-col>
        </ons-row>
        <p>
            <b>Secretaria e Funcionarios (2)
            <ons-icon icon="fa-angle-up"></ons-icon></b>
        </p>
        <ons-row class="chat-label font-14" style="text-align: left;">
            <ons-col width="20px"><ons-icon icon="fa-user"></ons-icon></ons-col>
            <ons-col>Patricia Costa</ons-col>
            <ons-col class="chat-preview">Teve dois alunos aqui na secretaria querendo saber a data das matriculas</ons-col>
        </ons-row>
        <ons-row class="chat-label font-14" style="text-align: left;">
            <ons-col width="20px"><ons-icon icon="fa-user"></ons-icon></ons-col>
            <ons-col>Débora Silva</ons-col>
            <ons-col class="chat-preview">O granpiador está na gaveta de cima</ons-col>
        </ons-row>
        <p>
            <b>Alunos (0)</b>
            <ons-icon icon="fa-angle-down"></ons-icon>
        </p>
        <p>
            <b>Pais (0)</b>
            <ons-icon icon="fa-angle-down"></ons-icon>
        </p>
    </ons-card>
    <ons-fab position="bottom right">
        <ons-icon icon="fa-plus"></ons-icon>
    </ons-fab>
</ons-page>
