
:root {
    --color-theme: #99C1E9;
}

.page__background {
    background-image: url("../img/simples.png");
    text-align: center;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-vermelha{
    color: #F11010;
}
.font-verde{
    color: #10F110;
}
.card{
    margin: 15px auto;
    max-width: 600px;
    min-width: 300px;
}
.vermelho{
    background-color: #F11010;
}
.top-logo{
    width: 130px;
    margin-top: -20px;
}
.footer{
    font-size: 12px;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.home-icon{
    display: inline-block;
    width: 100px;
    height: 70px;
    min-width: 100px;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    padding: 7px;
    margin: 5px 10px;
    color: #5095da;
}
.list-head{
    background-color: #C1C1C1;
    padding: 10px;
}
.list-x{
    background-color: #E1E1E1;
    padding: 15px;
}
.list-y{
    background-color: #F1F1F1;
    padding: 15px;
}
.chat-label{
    background-color: #FBFBFB;
    padding: 12px;
    border-top: solid black 1px;
}
.chat-preview{
    color: #A1A1A1;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}
.form-element{
    min-width: 290px;
    width: 90%;
}

.horario-cell{
    padding: 3px;
    margin: 1px;
    background-color: #fbffe9;
}
